* {
  margin: 0;
  padding: 0; }

body {
 }

/* ----- ----- HEADER ----- ----- */
header {
  background: url(../img/inicio.png);
  height: 100vh;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat; }

  /* esto esta comentado */
  header .contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    header .contenedor_logo_menu .logo a {
      display: block; }
      header .contenedor_logo_menu .logo a img {
        vertical-align: top; }
    header .contenedor_logo_menu .menu {
      text-align: right;
      line-height: 50px; }
      header .contenedor_logo_menu .menu a {
        color: #F3F3EB;
        margin-left: 60px;
        font-size: 18px; }
/* hasta qqui */

  header .textos {
    text-align: center;

  }
    header .textos .cuarta_linea,
    header .textos .quinta_linea {
      font-family:'Rotten', sans-serif;
      color: #F3F3EB; 
      font-weight: lighter;

    }

    header .textos .cuarta_linea {
      margin-top: 60%;
      font-size: 50px;
    }
    header .textos .quinta_linea {
      font-size: 20px;
      font-weight: bold;
    }
    header .textos .contenedor-btns a {
      border-radius: 4px;
      border: 2px solid #F3F3EB;
      color: #F3F3EB;
      padding: 12px 0;
      font-weight: 600;
      width: 235px;
      display: inline-block;
      text-align: center;
      margin: 0 10px; }
      header .textos .contenedor-btns a:hover {
        text-decoration: none;
        background: #F3F3EB;
        color: #4f4f4f; }

/* NAVBAR */
.background-menu{
  background-color: #F3F3EB !important;

}
.navbar-nav a{
  font-family:'futura-md-bt-medium', sans-serif;
  font-size: 20px;
  /* text-transform:; */
  font-weight:500;
  color: #C6C5C0;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.navbar-nav a:hover{
  color: #C16301;
  border-bottom: 5px solid #C16301;
}
.navbar-nav a:focus{
  color: #C16301;
  border-bottom: 5px solid #C16301;
}

.line-start hr {
  height:3px;
  width: 50%;
  border: 0;
  margin-top: -10px;
  background: #C6C5C0;
}


/* ----- ----- MAIN ----- ----- */

.main .fotos {
  margin-bottom: 70px; 
  background: url(../img/fondo-boda.png);
  background-repeat: no-repeat;
  background-size: cover;
}
  .main .fotos .foto {
    margin-bottom: 20px; }

    /* foto de novios ovalada */
    .main .fotos .foto .thumb img {
      border-radius: 3px;
      width: 48%;
      vertical-align: top; 
    background-size: contain;
    text-align: center;

  }
  .main .fotos .foto .thumb h1 {
    font-family:'Rotten', sans-serif;
    color: #C16301;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}
      .main .fotos .foto .nosotros {
        text-align: center; 
      color: #C16301;
      font-family:'Rotten', sans-serif;
      font-size: 50px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 20px;}
      /* nombre novios */
      .main .fotos .foto .review {
        float: left;
        width: 80%;
        padding: 0 30px;
        margin-top: 20px; }
        .main .fotos .foto .review .texto {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 10px; }
        .main .fotos .foto .review .nombre {
          color: #C16301;
          font-size: 14px; }
      .main .fotos .foto .cliente.derecha .review {
        float: right;
        text-align: right; }

.main .date-container {
  background: #1E1E1E;
  padding: 40px 0; }
.main .date-container .titulo-fecha h1{
  color: #F3F3EB;
  font-family:'Rotten', sans-serif;
  font-size: 50px;
}
.main .date-container .fecha h1{
  color: #F3F3EB;
  font-family:'futura-md-bt-medium', sans-serif;
  font-size: 20px;
  font-weight:normal;
  margin-top: 2%;
}
.main .precios{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../img/etiqueta.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.main .precios .texto-etiqueta img{
  left: 50%;
  top: 30%;
  width: 7%;
  position: absolute;
}
  .main .precios .texto-etiqueta p{
    text-align: justify;
    font-family: 'Futura LT', sans-serif;
    font-size: 25px;
    color: #F3F3EB;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    height: 50%;
    margin: -25px 0 0 -25px;
    letter-spacing: 5px;
 }
 /* MESA DE REGALOS */
 .main .mesa-regalos{
  background-color: #1E1E1E;
}
.main .mesa-regalos .titulo-mesa h1{
  color: #F3F3EB;
  font-family:'Rotten', sans-serif;
  font-size: 50px;
  margin-top: 5%;
}
.main .mesa-regalos .info-mesa{
  margin-top: 5%;

}
.main .mesa-regalos .info-mesa p{
  color: #F3F3EB;
  font-family: 'Futura LT', sans-serif;
  text-align: justify;
  font-size: 20px;
  letter-spacing: 5px;
  width: 60%;

}
.main .mesa-regalos img{

  width: 40%;
  margin-bottom: 15%;
  margin-top: 2%;
}


/* FORMULARIO ASISTENCIA */
.main .rsvp{
  width: 100%;
  background: #F3F3EB;
  text-align: center;
}
.main .rsvp .titulo-rsvp h1{
  text-align: center;
  font-family:'Rotten', sans-serif;
  color: #C16301;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.main .rsvp .agradecimiento h2{
  font-family: 'Futura LT', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  
}
.main .rsvp form{
  margin-top: 2%;
  margin-bottom: 5%;
  border: solid 3px #C16301;
  border-radius: 15px;
  padding: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.main .rsvp label{
  color: #C16301;
  font-family:'Rotten', sans-serif;
  font-size: 15px;
}
.main .rsvp .btn-primary{
  background: #C16301;
  color: #F3F3EB;
  font-family:'Rotten', sans-serif;
  border: solid 1px #C16301;
  border-radius: 50px;
  text-align: center;
}
.main .rsvp form .boton{
  margin: auto;
  text-align: center;
}
.form-control:focus {
  border-color: #C16301;
  box-shadow: 0 0 0 0.2rem rgba(194, 131, 5, 0.25);
} 
.main .rsvp form select{
  color: #C16301;
}
.form-select:focus{
  border-color: #C16301;
  box-shadow: 0 0 0 0.2rem rgba(194, 131, 5, 0.25);
}
/* ----- ----- FOOTER ----- ----- */
.main .final{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../img/footer.png");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.main .final img{
  left: 50%;
  top: 30%;
  width: 7%;
  position: absolute;
}
.main .final h1{
  color: #F3F3EB;
  font-family:'Rotten', sans-serif;

}
.main .final span{
  color: #F3F3EB;
  font-family: 'Futura LT', sans-serif;

}
.main .final .textos{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 20%;
}
.background-menu .navbar-nav{
  margin: auto;
  
}
      /* QUERIES */

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center; }
  header .contenedor_logo_menu .menu {
    text-align: center; }
    header .contenedor_logo_menu .menu a {
      margin: 0 20px; }


  header .textos {
    font-size: 150px; }
    header .textos .primera_linea {
      font-size: 150px; }
    header .textos .segunda_linea {
      margin-top: 0px;
      margin-bottom: 100px;
      font-size: 150px; }
    header .textos .tercera_linea {
      font-size: 150px; }
    header .textos .cuarta_linea {
      margin-top: 10px;
      font-size: 30px;
    }
    header .textos .quinta_linea {
      font-size: 20px;
      font-weight: bold;
    }

    header .textos .contenedor-btns a {
      margin-bottom: 10px; }

  .main .fotos .foto .titulo {
    margin-top: 0; }
  .main .clientes .cliente {
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .main .caracteristicas .caracteristica {
    margin-bottom: 40px; }
  .main .fotos .foto {
    text-align: center; }
    .main .fotos .foto .texto * {
      text-align: left; }
    .main .fotos .foto .texto p {
      margin-bottom: 10px; }
  .main .precios .precio {
    margin-bottom: 20px; }

  footer .direccion {
    text-align: center; }
    footer .direccion .logo img {
      margin-top: 20px; } }
@media screen and (max-width: 495px) {
  header .textos {
    font-size: 150px; }
    header .textos .primera_linea {
      font-size: 150px; }
    header .textos .segunda_linea {
      margin-top: 0px;
      margin-bottom: 100px;
      font-size: 150px; }
    header .textos .tercera_linea {
      font-size: 150px; 
      margin-left: 250px;}
      .main .precios .texto-etiqueta img{
        left: 40%;
        top: 30%;
        width:15%;
        position: absolute;
      }
      .main .precios .texto-etiqueta p{
        font-size: 15px;
        width: 80%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 15%;
        margin: -25px 0 0 -25px;

      }

      .main .mesa-regalos .titulo-mesa h1{
        font-size: 40px;
      }
      .main .mesa-regalos .info-mesa{
        margin-top: 5%;
      
      }
      .main .mesa-regalos .info-mesa p{

        font-size: 15px;
        width: 80%;
      
      }

      .main .final h1{
        color: #F3F3EB;
        font-family:'Rotten', sans-serif;
        font-size: 20px;
      }

      .main .final .textos{
        text-align: center;
        position: absolute;
        top: 70%;
        left: 8%;
      }

      .main .fotos .foto .thumb img {
        width: 250%;
        vertical-align: top; 
        background-size:contain;
  
    }
    .main .fotos .foto .thumb h1 {
      font-family:'Rotten', sans-serif;
      color: #C16301;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      margin-top: 8%;
  }
  header {
    background: url(../img/queryheader2.png);
    height: 100vh;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat; }
      
    header .textos .cuarta_linea {
      margin-top: 145%;
      font-size: 50px;
    }
}
/*# sourceMappingURL=estilos.css.map */
